body{
    background-image: url(../images/bg2.jpg);
    background-size: 100%;
}
a{
    text-decoration: none;
}
a:link{color:#6c5d4e;} 
a:visited {color:#013f51;}
nav{
    background-color: #b3a18c;
    overflow: auto;
}
element.style {
    animation-delay: 0s;
}
.title span {
    animation: bounce 0.4s ease infinite alternate;
}
@keyframes bounce{
    100%{
        transform: translateY(-20px);
    }
    
} 
.title{
   display: flex;
   font-family: 'Noto Sans TC',sans-serif !important;
   margin-left: 25px;
   letter-spacing: 15px;
   color: #824513;
   font-size: 3em;
   text-shadow: rgba(245, 242, 242, 0.789) 0px 3px 8px;
}
.search,.teamwork{
    float: right;
    width: 48px;
    height: 50px;
    margin-left: 25px;
    padding: 5px;
}
.search-txt{
    background-color:#D5C2B3;
    float: right;
    margin-top:17px;
    display: flex;
    border: 0px #b3a18c;
    border-radius: 10px;
}
.cart{
    float: right;
    width: 55px;
    height: 58px;
    margin-left: 25px;
    padding: 5px;
}
.product,.about,.member,.back{
    float:right;
    font-size: 25px;
    margin-left: 25px;
    padding: 20px;
}
p{
    color: #6c5d4e;
}
.bord-img{
    width: 55px;
    height: 58px;
    transition: 1s ease-in-out;
}
.bord-photo :hover{
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: center;
    border-spacing:10px;
    border: rgb(227, 169, 83) 5px dashed;
}
.pic{
    width: 250px;
}
.bord-col img{
    transform:scale(1,1);transition: all 1s ease-out;
}
.bord-col :hover{
    /*transform:scale(1.2,1.2);*/
    transform:rotateY(180deg);
    border-radius: 50%;
}