body{
    background-image: url(../images/bg2.jpg);
    background-size: 100%;
}
a{
    text-decoration: none;
}
a:link{color:#6c5d4e;} 
a:visited {color:#013f51;}
nav{
    background-color: #b3a18c;
    overflow: auto;
}
element.style {
    animation-delay: 0s;
}
.title span {
    animation: bounce 0.4s ease infinite alternate;
}
@keyframes bounce{
    100%{
        transform: translateY(-20px);
    }
    
} 
.title{
   display: flex;
   /*float: left;*/
   font-family: 'Noto Sans TC',sans-serif !important;
   margin-left: 25px;
   letter-spacing: 15px;
   color: #824513;
   font-size: 3em;
   text-shadow: rgba(245, 242, 242, 0.789) 0px 3px 8px;
   /*padding: -100px;*/
}
.search,.teamwork{
    float: right;
    width: 48px;
    height: 50px;
    margin-left: 25px;
    padding: 5px;
}
.search-txt{
    background-color:#D5C2B3;
    float: right;
    margin-top:17px;
    display: flex;
    border: 0px #b3a18c;
    border-radius: 10px;
}
.cart{
    float: right;
    width: 55px;
    height: 58px;
    margin-left: 25px;
    padding: 5px;
}
.product,.about,.member,.back{
    float:right;
    font-size: 25px;
    margin-left: 25px;
    padding: 20px;
}
.contain .contain-ad{
    width: 1500px;
    height: 800px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}
.contain ::after{
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
    top: 80px;
    z-index: -1;
    left: 0;
    display: block;
    background-image:url(../images/bg3.jpg);
    background-size: cover;
    opacity: 0.6;
}
.sale-glowIn span {
    animation: glow-in 1.0s both;
    animation-iteration-count : infinite;
}
.sale-glowIn{
    text-align: center;
    line-height: 1.8;
    font-family: Lora, serif;
    display: block;
    font-size: 40px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #824513
}
@keyframes glow-in{
    0% {
        opacity: 0;
    }
    65% {
        opacity: 1;
        text-shadow: 0 0 25px white;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
   
}
.contain .contain-sale {
    width: 80%;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    border: rgb(132, 166, 239) 5px dashed;
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.bord-txt{
    text-align: center;
    color: #0c0805;
    font-size: 25px;
    text-shadow: rgba(140, 150, 155, 0.789) 0px 3px 8px;            
}
.pic{
    width: 300px;
}
.bord-col img:hover{
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}
.bord-txt-price{
    font-size: 20px;
    color: #824513;
}