body{
    background-image: url(../images/bg2.jpg);
    background-size: 100%;
}
a{
    text-decoration: none;
}
a:link{color:#6c5d4e;} 
a:visited {color:#013f51;}
nav{
    background-color: #b3a18c;
    overflow: auto;
}
element.style {
    animation-delay: 0s;
}
.title span {
    animation: bounce 0.4s ease infinite alternate;
}
@keyframes bounce{
    100%{
        transform: translateY(-20px);
    }
    
} 
.title{
   display: flex;
   font-family: 'Noto Sans TC',sans-serif !important;
   margin-left: 25px;
   letter-spacing: 15px;
   color: #824513;
   font-size: 3em;
   text-shadow: rgba(245, 242, 242, 0.789) 0px 3px 8px;
}
.search,.teamwork{
    float: right;
    width: 48px;
    height: 50px;
    margin-left: 25px;
    padding: 5px;
}
.search-txt{
    background-color:#D5C2B3;
    float: right;
    margin-top:17px;
    display: flex;
    border: 0px #b3a18c;
    border-radius: 10px;
}
.cart{
    float: right;
    width: 55px;
    height: 58px;
    margin-left: 25px;
    padding: 5px;
}
.product,.about,.member,.back{
    float:right;
    font-size: 25px;
    margin-left: 25px;
    padding: 20px;
}
section{
    margin: auto;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px;
    text-align: center;
    border: #b2a26e 5px dashed;
    border-radius: 10px;
    letter-spacing: 20px;
}
.sale-glowIn span {
    animation: glow-in 1.0s both;
    animation-iteration-count : infinite;
}
.sale-glowIn{
    text-align: center;
    line-height: 1.8;
    font-family: Lora, serif;
    display: block;
    font-size: 40px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #824513
}
@keyframes glow-in{
    0% {
        opacity: 0;
    }
    65% {
        opacity: 1;
        text-shadow: 0 0 25px white;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}
#additem,#reviseitem,#deleteitem,#orderdata,#memberdata{
    background-color: #8e6d52;
    color: white;
    font-size: 20px;
    width: 150px;
    border-radius: 10px;
}
#additem:hover,#reviseitem:hover,#deleteitem:hover,
#orderdata:hover,
#memberdata:hover{
    background-color: rgb(234, 210, 145);
    color: #8e6d52;
}