body{
    background-image: url(../images/bg2.jpg);
    background-size: 100%;
}
a{
    text-decoration: none;
}
a:link{color:#6c5d4e;} 
a:visited {color:#013f51;}
nav{
    background-color: #b3a18c;
    overflow: auto;
}
element.style {
    animation-delay: 0s;
}
.title span {
    animation: bounce 0.4s ease infinite alternate;
}
@keyframes bounce{
    100%{
        transform: translateY(-20px);
    }
} 
.title{
   display: flex;
   font-family: 'Noto Sans TC',sans-serif !important;
   margin-left: 25px;
   letter-spacing: 15px;
   color: #824513;
   font-size: 3em;
   text-shadow: rgba(245, 242, 242, 0.789) 0px 3px 8px;
}
.search,.teamwork{
    float: right;
    width: 48px;
    height: 50px;
    margin-left: 25px;
    padding: 5px;
}
.search-txt{
    background-color:#D5C2B3;
    float: right;
    margin-top:17px;
    display: flex;
    border: 0px #b3a18c;
    border-radius: 10px;
}
.cart{
    float: right;
    width: 55px;
    height: 58px;
    margin-left: 25px;
    padding: 5px;
}
.product,.about,.member,.back{
    float:right;
    font-size: 25px;
    margin-left: 25px;
    padding: 20px;
}
/*上面是nav*/
section{
    margin: 235px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.item{
    margin-left: 35px;
    margin-bottom: -50px;
}
.item-photo{
    width: 460px;
    position: relative;
    top: 150px;
    left: 200px;
    border: rgb(227, 169, 83) 5px dashed;
    text-align: center;
}
.item-photo img{
    transform:scale(1,1);transition: all 1s ease-out;
}
.item-photo img:hover{
    transform:scale(1.2,1.2);
}
.item-tit{
    color: #824513;
    position: relative;
    top: -260px;
    left: 750px;
    width: 500px;
    font-size: 60px;
}
.item-intro {
    position: relative;
    color: #825026;
    top: -330px;
    left: 760px;
    width: 550px;
    height: 100px;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 2px;
}
.item-money{
    position: relative;
    top: -410px;
    left: 760px;
    width: 500px;
    height: 100px;
}
.item-money p{
    font-size: 30px;
    letter-spacing: 7px;
    font-family: monospace;
    color: #824513;
}
.item-cart{
    color: white;
    position: relative;
    top: -380px;
    left: 220px;
    font-size: 47px;
    width: 500px;
}
.item-cart-people,.item-cart-amount{
    position: relative;
    top: -80px;
    left: 540px;
    font-size: 15px;
    color: #824513;
}
#item-cart-number{
    position: relative;
    top: -100px;
    left: 540px;
    color: #824513;
    font-size: 25px;
    text-align: center;
}
.item-cart-img{
    background-color: #8e6d52;
    color: white;
    position: relative;
    left: 540px;
    top: -90px;
    width: 320px;
    font-size: 25px;
}
.item-cart-img:hover{
    background-color: rgb(234, 210, 145);
    color: #8e6d52;
}
.write {
    width: 1000px;
    height: 500px;
    position: relative;
    left: 202px;
    top: -380px;
}
#txt{
    color: white;
    background-color: #be9676;
    font-size: 20px;
    width: 800px;
    height: 300px;
    margin-top: 100px;
    margin-left: 100px;
    border: 1px white;
    
}
#submit{
    width: 110px;
    height: 30px;
    border: 3px solid white;
    color: black;
    position: relative;
    left: 780px;
    top: -35px;
}
.message{
    position: relative;
    left: 202px;
    top: -300px;
    width: 1000px;
    height: 900px;
}
.message-ex{
    width: 1000px;
    height: 200px;
    border: 3px solid rgb(227, 169, 83);
    margin-bottom: 15px;
}
.message-ex-img{
    width: 90px;
    margin: 10px;
    float: left;
}
.message-ex-tit{
    float: left;
    width: 600px;
    height: 100px;
    font-size: 25px;
    color: #523f30;
    margin-top: 0px;
}
.message-ex-txt{
    float: left;
    width: 600px;
    height: 100px;
    margin-left: 110px;
    font-family: Microsoft JhengHei;
    color: rgba(101, 84, 58, 0.659);
    top: 50px;
    font-size: 20px;
}
.message-ex-txt2{
    float: left;
    width: 600px;
    height: 100px;
    font-family: Microsoft JhengHei;
    color: rgba(101, 84, 58, 0.659);
    top: 50px;
    font-size: 20px;
}
.rating{
    margin-top: 20px;
    margin-left: 110px;
}
.write-submit{
    background-color: #8e6d52;
    color: white;
    font-size: 15px;
    width: 100px;
    margin-left: 80.5%;
}
.write-submit:hover{
    background-color: rgb(234, 210, 145);
    color: #8e6d52;
}
.ratings {
    position: relative;
    top: 140px;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 40px;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
    -webkit-text-stroke: 1px orange;
}